* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header, footer, .hero {padding: 0 140px;}

header, footer {
    flex: 0 0 auto;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

#logo, .hero h1, .hero button {color: #f9faf8;}

#logo {font-size: 24px;}

nav {
    display: flex;
    gap: 24px;
}

nav a, .hero p {
    font-size: 18px;
    color: #e5e7eb;
}

main {
    flex: 1;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: stretch;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    padding: 4px 16px;
}

.hero img {
    flex: 1;
    height: auto;
    max-width: 50%;
}

