/* - - - - GENERAL */

* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.background {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {width: 80%;}

header.background, footer.background {
    flex: 0 0 auto;
    background-color: #1f2937;
}


/* - - - - HEADER SECTION */

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.text-pop {color: #f9faf8;}

#logo {font-size: 24px;}

nav {
    display: flex;
    gap: 24px;
}

nav a, #hero p, #join p {
    font-size: 18px;
    color: #e5e7eb;
}

main {
    flex: 1;
}


/* - - - - HERO SECTION */

#hero.background {background-color: #1f2937;}

#hero .content {
    display: flex;
    align-items: stretch;
    padding: 200px 0;
    gap: 16px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#hero h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    padding: 8px 32px;
}

#hero img {
    flex: 1;
    height: auto;
    max-width: 50%;
}


/* - - - - INFO SECTION */

#info .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 42px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    width: 80%;
    gap: 42px;
}

.info-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-item img {
    border-style: solid;
    border-color: #3882f6;
    border-width:thick;
    border-radius: 10%;
    width: 100%;
    height: auto;
}

.info-item p {
    text-align: center;
    padding: 8px;
}


/* - - - - QUOTE SECTION */

#quote.background {background-color: #e5e7eb;}

#quote .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 3% 80px 8%;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    width: 100%;
}

.author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    padding-right: 4%;
}


/* - - - - JOIN SECTION */

#join {
    padding: 80px 0;
}

#join .content {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

#join h3 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

#join button {
    color: #f9faf8;
    border: 2px solid #f9faf8;
}