* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header, footer, main {padding: 0 140px;}

header, footer {
    flex: 0 0 auto;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

nav {
    display: flex;
    gap: 24px;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
}

main {
    flex: 1;
}

